body{
   
}
nav{
    background-color: #563d7c!important;    
}
.navbar{
    padding: 0 1rem;
}
nav a{
    color: white!important;
    margin: 0 .5rem;    
}
.jumbotron{
    margin-top: 1px;
    background-color: #e8e5ec!important;  
    /* color: white!important; */
}
.row{
    margin-right: 0!important;
}
.titulo{
    text-align: center;
    font-weight: bold;  
    padding: 10px;
    margin-bottom: 10px;
}
i .hand{
    font-size: 20px;
    text-align: center;
}
a.nav-link.inicio:hover{
    color: rgb(61, 22, 73)!important;    
}
a.nav-link.registrar.p-2{
    border-color: white;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
}
a.nav-link.registrar.p-2:last-child:hover{
    color: white;
}