<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="#">PD 110</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Inicio
                    
                    
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">Sobre Nosotros</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'contact' %}">Contactanos</a>
            </li>
            {% comment %} <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li> {% endcomment %}
        </ul>
        <ul class="navbar-nav navbar-right" >
            {% if request.user.is_authenticated %}
            <li class="nav-item" ><a class="nav-link" href="{% url 'auth_logout' %}" >Salir</a></li>
            {% else %}
            <li class="nav-item" ><a class="nav-link" href="{% url 'registration_register' %}" >Registrarte</a></li>
            <li class="nav-item" ><a class="nav-link" href="{% url 'auth_login' %}" >Entrar</a></li>
            {% endif %}
        </ul>
    </div>
</nav>